body, html{
    padding: 70px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    background-color: #21232A;
}

button{
    padding: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}