*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cardBox{
    border: 1px solid red;
    width: 15rem;
    height: 15rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}